<a href="https://colab.research.google.com/github/rinaldy143/machine-learning/blob/master/Materi_Seri2__KenalanPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TIPE DATA**

Ada empat tipe data koleksi dalam bahasa pemrograman Python:

**List** : tersusun dan dapat diubah. Memungkinkan anggota duplikat.

**Tuple** : tersusun dan tidak dapat diubah. Memungkinkan anggota duplikat.

**Set** : tidak berurutan dan tidak terindeks. Tidak ada anggota duplikat.

**Dictionary** :tersusun dan dapat diubah. Tidak ada anggota duplikat

# **LIST**

In [ ]:
#Contoh sederhana pembuatan list pada bahasa pemrograman python
list1 = ['Mangga', 'Apel', 3, 2]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]

In [ ]:
#print ("list1[0]: ", list1[0])
#print ("list2[1:5]: ", list2[1:5])
list1[3]

2

In [ ]:
#mengubah isi list
list = ['fisika', 'kimia', 1993, 2017]
print ("Nilai ada pada index 2 : ", list[2])

list[2] = 2001
print ("Nilai baru ada pada index 2 : ", list[2])
print(list)

Nilai ada pada index 2 :  1993
Nilai baru ada pada index 2 :  2001
['fisika', 'kimia', 2001, 2017]

In [ ]:
#Contoh cara menghapus nilai pada list python

list = ['fisika', 'kimia', 1993, 2017]

print (list)
del list[2]
print ("Setelah dihapus nilai pada index 2 : ", list)

['fisika', 'kimia', 1993, 2017]
Setelah dihapus nilai pada index 2 :  ['fisika', 'kimia', 2017]

In [ ]:
#Length/Panjang data
len([1, 2, 3, 4])

4

In [ ]:
#Menggabungkan list
list1 + list2

['Mangga', 'Apel', 3, 2, 1, 2, 3, 4, 5]

In [ ]:
#Multiple
['Hello']*4

['Hello', 'Hello', 'Hello', 'Hello']

In [ ]:
#cek keanggotaan
'Mangga' in list1

True

In [ ]:
#Copy list
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

1 2 3

In [ ]:
#urutkan list , misal berdasarkan abjad
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
#urutkan list , numerik
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

In [ ]:
#descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
#descending
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [ ]:
#buat fungsi sederhana untuk mengurutkan list berdasarkan syart tertentu
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [ ]:
#menambahkan list
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#cara lain
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#Loop
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

# **Tuple**

In [ ]:
#tipe data Tuple
mytuple = ("apple", "banana", "cherry")
a= (1,2,3,4,5)
b= ("satu", "dua", "tiga")
print(a)
print(b)
type(b)

(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')

tuple

In [ ]:
#tidak masalah dengan duplikat, atau data yang sama
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
#jika tuple hanya 1, jangan lupa tanda coma
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
#tuple bisa berisa berbagai jenis data
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple11 = ("abc", 34, True, 40, "male")

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [ ]:
#mengakses data
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[2:])
print(thistuple[-4:-1])

banana
mango
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
#tuple tidak dapat diubah, lalu bagaimana jika saya harus mengubah isinya ?
x = ("apple", "banana", "cherry")
y = list(x) #ubah dulu tuple jadi list
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
#langkah sama jika ingin menambah isi tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple) #ubah dulu tuple jadi list
y.append("orange")  #tambah dengan eprintah append()
thistuple = tuple(y)

In [ ]:
thistuple

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
#print(thistuple) #this will raise an error because the tuple no longer exists

In [ ]:
#gabung tuple
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
#multiple tuple
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# **Sets**

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
#Item yang ditetapkan tidak berurutan, tidak dapat diubah, dan tidak mengizinkan nilai duplikat
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

In [ ]:
#panjang set
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set11 = {"abc", 34, True, 40, "male"}

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [ ]:
#karena set tidak dapat diakses dengan indeks, maka untuk melihat isi suatu set bisa gunakan perintah seperti berikut
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [ ]:
#atau mengecek apakah data tertentu ada didalam set
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
#item tidak dapat diubah tetapi kita dapat menambah item
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'orange', 'apple'}

In [ ]:
#menambahkan banya item sekaligus kedalam set
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'mango', 'banana', 'papaya', 'apple', 'pineapple'}

In [ ]:
#menambah data tipe list ke set
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'orange', 'cherry', 'banana', 'apple'}

In [ ]:
#hapus data dari set
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [ ]:
#gabung beberapa set
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'b', 'c'}

In [ ]:
#atau
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 2, 3, 'b', 'c'}

In [ ]:
#keep irisan dari set
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [ ]:
#atau
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [ ]:
#keep yang saling bebas
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'cherry', 'microsoft', 'banana'}

In [ ]:
#atau
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'cherry', 'microsoft', 'banana'}

# **Dictionaries**

In [ ]:
#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

{'nama': 'Budi', 'umur': 20}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
print(thisdict["brand"])

Ford

In [ ]:
#tidak bisa duplikat
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
print(len(thisdict))

3

In [ ]:
#nilai dalam dictionary boleh berbagai tipe data
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(type(thisdict))

<class 'dict'>

In [ ]:
#nilai dari dictionary
x = thisdict.values()
x

dict_values(['Ford', False, 1964, ['red', 'white', 'blue']])

In [ ]:
#keys dari dictionary
y = thisdict.keys()
y

dict_keys(['brand', 'electric', 'year', 'colors'])

In [ ]:
#mengubah nilai
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
#atau update
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#menambah item baru
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
#atau dengan update
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [ ]:
#remove item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#atau
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
#atau
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#loop
#menampilkan keys
for x in thisdict:
  print(x)

brand
year

In [ ]:
#menampilkan nilai
for x in thisdict:
  print(thisdict[x])

Ford
1964

In [ ]:
#buat data Mahasiswa Sains Data
Daftar_Mahasiswa = {
  "Mahasiswa1" : {
    "name" : "Happy",
    "year" : 1998
  },
  "Mahasiswa2" : {
    "name" : "Yuni",
    "year" : 1998
  },
  "Mahasiswa3" : {
    "name" : "Anna",
    "year" : 2000
   },
  "Mahasiswa4" : {
    "name" : "Vera",
    "year" : 1999
  }
}

In [ ]:
Daftar_Mahasiswa

{'Mahasiswa1': {'name': 'Happy', 'year': 1998},
 'Mahasiswa2': {'name': 'Yuni', 'year': 1998},
 'Mahasiswa3': {'name': 'Anna', 'year': 2000},
 'Mahasiswa4': {'name': 'Vera', 'year': 1999}}

In [ ]:
#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
print(type(biodata)) #fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'> yang berarti dict adalah tipe data dictionary

{'nama': 'Andi', 'umur': 21}
<class 'dict'>

# **If els**

Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

In [ ]:
#if
a = 33
b = 200
if b > a:
  print("b is greater than a") #perhatikan indent

b is greater than a

In [ ]:
#elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
#else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
#else tanpa elif
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
#and
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
#or
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

# **Membuat Fungsi Sederhana**

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
#Argument
def my_function(fname):
  print(fname + " Yenusi")

my_function("Yuni")
my_function("Agatha")
my_function("Boy")

Yuni Yenusi
Agatha Yenusi
Boy Yenusi

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:

def USDkeRp(x):
  return 14000 * x

print("Rp.", USDkeRp(3))
print(USDkeRp(5))
print(USDkeRp(9))

Rp. 42000
70000
126000